/* Footer design */
.footer {
  background: #051902;
  color: white;
  padding-top: 20px;
}

.footer p {
  padding-bottom: 20px;
  text-align: center;
}

.footer a {
  color: rgb(170, 170, 170);
}

.footer li p {
  text-align: right;
}

.footer .fa {
  padding: 20px;
}

.footer a {
  text-decoration: none;
}

.footer a:hover {
  color: white;
}
