<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center" >
        <div class="social">
          <ul class="list-inline">
            <li><a href="https://www.github.com/annepaulinebrouwer" target="_blank" class="btn btn-theme"><i class="fa fa-github fa-2x"></i></a></li>
            <li><a href="https://angel.co/annepaulinebrouwer" target="_blank" class="btn btn-theme"><i class="fa fa-angellist fa-2x"></i></a></li>
            <li><a href="https://www.linkedin.com/in/paula-brouwer-0b7b0159" target="_blank" class="btn btn-theme"><i class="fa fa-linkedin fa-2x"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-12">
        <p>Paula Brouwer. All rights given to you.</p>
      </div>
    </div>
  </div>
</div>

