<div class="banner" style="background: linear-gradient(-225deg, rgba(98,189,42,0.2980392156862745) 0%, rgba(113,143,99,0.2980392156862745) 350%), url('images/cheeta.jpg') fixed;">
  <div class="banner-content">
    <h1><a name="aboutme"></a>I am Paula</h1>
    <p>a software developer</p>
  </div>
  <a href="#aboutme">
    <div class="sphere" style="background-color:white"><i class="fa fa-angle-down" style="color:#1B1E25"></i></div>
  </a>
</div>

<div id="#aboutme">
  <div class="about" style="background-image: url('images/paula-half.jpg');">
    <div class="container">
      <div class="row">
        <h1 class="text-center">What I can do.</h1>
        <div class="box">
          <div class="col-xs-12 col-sm-offset-2 col-sm-5">
            <h2>Design what you want.</h2>
            <p>I like to keep it simple. My goals are to focus on style and content. Conveying the message that you want to send.</p>
          </div>
        </div>
        <div class="box">
          <div class="col-xs-12 col-sm-5">
            <h2>Develop what you need.</h2>
            <p>I'm a developer, so I know how to create your website to run across devices using the latest technologies available.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="skillsme">
  <div class="skills">
    <div class="container">
      <div class="row">
        <h1 class="text-center">Skills</h1>
        <div class="features text-center">
          <div class="col-xs-12 col-sm-4">
            <div class="blocks">
              <h2>Front - End</h2>
              <ul>
                <li>HTML 5</li>
                <li>CSS 3</li>
                <li>JavaScript</li>
                <li>jQuery</li>
                <li>React.js</li>
                <li>Bootstrap</li>
              </ul>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4">
            <div class="blocks">
              <h2>Back - End</h2>
              <ul>
                <li>Ruby</li>
                <li>Ruby on Rails</li>
                <li>PostgreSQL</li>
                <li>SQL</li>
                <li>APIs</li>
                <li>  .  </li>
              </ul>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4">
            <div class="blocks">
              <h2>Tools</h2>
              <ul>
                <li>Git</li>
                <li>GitHub</li>
                <li>Sublime text</li>
                <li>Amazon S3</li>
                <li>Sketch</li>
                <li>Heroku</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="portfolio" id="portfoliome">
  <!-- <div class="wrapper-grey-padded"> -->
    <div class="container">
      <h1 class="text-center">Portfolio</h1>
      <div class="row">
       <div class="col-sm-offset-1 col-xs-12 col-sm-5">
       <%= link_to 'http://www.greenthumbs.nl', target: '_blank' %>
        <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('images/greenthumbs.JPG');">
         <p>Greenthumbs</p>
        </div>
       </div>
       <div class="col-xs-12 col-sm-5">
        <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('images/rhino.png');">
         <p>Coming soon</p>
        </div>
       </div>
       <div class="col-sm-offset-1 col-xs-12 col-sm-5">
        <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('images/zuid-africa.jpg');">
          <p>Coming soon</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-5">
        <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('images/antilope.png');">
         <p>Coming soon</p>
        </div>
      </div>
    </div>
  </div>
 </div>
</div>

<div class="contact" id="contactme">
  <div class="container">
    <h1 class="text-center">Contact</h1>
    <div class="row">
      <div class="col-sm-12">
        <p>Let's be in contact. You can write me an email.</p>
      </div>
      <div class="col-sm-12">
        <form class="form-horizontal" action="#" method="post" role="form" id="contactForm">
          <div class="form-group">
            <div class="col-sm-6">
              <input type="text" name="name" class="form-control" placeholder="Name">
            </div>
            <div class="col-sm-6">
              <input type="text" name="contactEmail" class="form-control" placeholder="Email">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-12">
              <textarea name="message" class="form-control" rows="8" placeholder="Message"></textarea>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-12">
              <input type="text" name="_gotcha" style="display:none">
              <button type="submit" class="btn btn-theme ladda-button" data-style="expand-left">
                <span class="ladda-label">Submit</span>
              </button>
            </div>
          </div>
          <input type="text" name="_gotcha" style="display:none" />
        </form>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript"></script>
